@using AdventureWorksNS.Data;
@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    string strActivo = "";
    int contImagenes = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p class="alert alert-primary">@DateTime.Now.ToLongTimeString()</p>

@if (Model.Categorias is not null)
{
    <div id="categories" class="carousel slide" data-ride="carousel"
     data-interval="3000" data-keyboard="true">
        <ol class="carousel-indicators">
            @for (int c = 0; c < Model.Categorias.Count; c++)
            {
                if (c == 0)
                {
                    strActivo = "active";
                }
                else
                {
                    strActivo = "";
                }
                contImagenes++;
                if (contImagenes > 3)
                {
                    contImagenes = 1;
                }
                <li data-target="#categories" data-slide-to="@c" class="@strActivo"></li>
            }


            @*            @for(int d = 0; d < Model.productModels?.Count;d++ )
        {
        if (d == 0)
        {
        strActivo = "active";
        }
        else
        {
        strActivo = "";
        }
        contImagenes++;
        if (contImagenes > 3)
        {
        contImagenes = 1;
        }
        <li data-target="#productModels" data-slide-to="@d" class="@strActivo"></li>*@


        </ol>





        <div class="carousel-inner">
            @for (int c = 0; c < Model.Categorias.Count; c++)
            {
                if (c == 0)
                {
                    strActivo = "active";
                }
                else
                {
                    strActivo = "";
                }
                contImagenes++;
                if (contImagenes > 3)
                {
                    contImagenes = 1;
                }
                @*                @for (int d = 0; c < Model.productModels?.Count; c++)
        {

        if (d == 0)
        {
        strActivo = "active";
        }
        else
        {
        strActivo = "";
        }
        contImagenes++;
        if (contImagenes > 3)
        {
        contImagenes = 1;
        }
        *@

                <div class="carousel-item @strActivo">

                    <img class="d-block w-100" src="~/img/maxresdefault.jpg"
                 alt="@Model.Categorias[c].Name" />
                    <div class="carousel-caption d-none d-md-block">
                        <h2>@Model.Categorias[c].Name</h2>
                        <h2>@Model.productModels?[c].Name</h2>
                        <h3>@Model.Categorias[c].ProductCategoryId</h3>

                    </div>
                </div>
            }

            }
        </div>

    </div>

}
@*/////*@
@if (Model.productModels is not null)
{
    <h2>Detalle de Categoria</h2>
    <div id="product-columns">
        <ul>
            @foreach (ProductModel d in Model.productModels)
            {
                <a asp-controller="Home"
           asp-action="DetalleCategoria"
           asp-route-id="@d.ProductModelId">
                <li>@d.Name - @d.ModifiedDate</li>
                </a>
            }
        </ul>
    </div>
}
@*////////*@




<h2>Visitas:@Model.ContadorVisitas</h2>

@if (Model.Categorias is not null)
{
    <h2>Categorias</h2>
    @foreach (ProductCategory prdCat in Model.Categorias)
    {
        <p>@prdCat.Name</p>
    }
}
<h2>Visitas:@Model.ContadorVisitas</h2>






@if (Model.Products is not null)
{
    <h2>Productos</h2>
    <div id="product-columns">
        <ul>
            @foreach (Product p in Model.Products)
            {
                <a asp-controller="Home"
           asp-action="DetalleProducto"
           asp-route-id="@p.ProductId">
                <li>@p.Name - $@p.ListPrice</li>
                </a>
            }
        </ul>
    </div>
}
<h3>Obtener productos por precio</h3>
<form asp-action="ProductosConPrecioMayorA" method="GET">
    <input name="precio" placeholder="Ingrese el precio" />
    <input type="submit"/>
</form>




